@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
}


#wave{
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}


img{
    vertical-align: middle;
    line-height: 1px;
    height: 40px;
}

.navbar{
    background-color: #cad0d5b0;
}

.project-heading{
    color: #000 !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
}

.btn svg{
    vertical-align: middle;
}


.blue{
    color: #75aadb !important;
}

#typed-text{
    color: #127cde !important;
    font-weight: 600 !important;
}

.typed-cursor {
    font-size: 35px;
    color: #127cde !important;
}

.tech-icons{
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: .93 !important;
    border: 1.7px solid #fff !important;
    border-top-width: 1.7px !important;
    border-right-width: 1.7px !important;
    border-bottom-width: 1.7px !important;
    border-left-width: 1.7px !important;
    border-top-style: solid !important;
    border-right-style: solid !important;
    border-bottom-style: solid !important;
    border-left-style: solid !important;
    border-top-color: rgb(255, 255, 255) !important;
    border-right-color: rgb(255, 255, 255) !important;
    border-bottom-color: rgb(255, 255, 255) !important;
    border-left-color: rgb(255, 255, 255) !important;
    border-image-source: initial !important;
    border-image-slice: initial !important;
    border-image-width: initial !important;
    border-image-outset: initial !important;
    border-image-repeat: initial !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px #a7cbe8 !important;
    overflow: hidden !important;
    transition: all .4s ease 0s !important;
}

.primary_btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-color: #007bff;
    background-image: linear-gradient(to right, #accce6, #75aadb), radial-gradient(circle at top left, #accce6, #75aadb);
    border: double 2px transparent;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 20px;
}

    /* display: inline-block;
    color: #fff;
    letter-spacing: 0px;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
    outline: none !important;
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(to right, #accce6, #75aadb), radial-gradient(circle at top left, #accce6, #75aadb);
    border: double 2px transparent;
    box-shadow: 0 10px 30px #a7cbe8;
    transition: all .4s ease 0s; */

.project-card{
    margin-bottom: 50px;
}


.project-card-view{
    box-shadow: 0 4px 5px 3px #accce6 !important;
    color: #000 !important;
    background-color: transparent !important;
    opacity: .9 !important;
    transition: all .5s ease 0s !important;
    height: 100% !important;
}

#tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
}

.h5{
    font-size: 1.25rem;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.button-container {
   margin-bottom: 50px;
   gap: 20px;
}

.github-button{
    margin-top: 20px;
}

@media (max-width: 929px){
    .github-button{
        display: flex;
        flex-wrap: wrap;

    }
}

.demo-button{
    margin-top: 20px;
}


.card-body{
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.card{
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: .5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: .5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), .03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: .75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.badger-red{
    color: #c5050c !important;
}

.contact_info .info_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
}

.contact_info .info_item h4 a {
    color: #000;
    text-decoration: none;
}

.project-heading {
    color: #000 !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
}

.social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
}

.footer {
    background-color: #0a0416;
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    margin-top: 200px;
}

.footer-copyright {
    text-align: center !important;
}

.footer h3 {
    font-size: 1em;
    color: #fff !important;
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

.footer-body{
    z-index: 1;
    text-align: center !important;
}

@media (max-width: 992px){
    .navbar-toggler{
        margin-left: 50%;
    }
}

@media (max-width: 768px){
    .project-card{
        margin-bottom: 50px;
    }
}

    

img svg{
    vertical-align: middle;

}

.tech-icons img {
    transition: transform 0.3s;
}

.tech-icons img:hover {
    transform: scale(1.1);
}


.tech-icons:hover {
    visibility: visible;
    opacity: 1;
}


.project-card-view:hover{
    transform: scale(1.1);
    box-shadow: #81c2ff;
}


/* The actual timeline (the vertical ruler) */
.main-timeline-4 {
    position: relative;
  }
  
  /* The actual timeline (the vertical ruler) */
  .main-timeline-4::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #bbb;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline-4 {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline-4::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: #bbb;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left-4 {
    padding: 0px 40px 20px 0px;
    left: 0;
  }
  
  /* Place the container to the right */
  .right-4 {
    padding: 0px 0px 20px 40px;
    left: 50%;
  }
  

  .right-4::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border-width: 10px 10px 10px 0;
  }
  

  /* Add arrows to the left container (pointing right) */
.left-4::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border-width: 10px 0 10px 10px;
  }


/* Fix the circle for containers on the right side */
.right-4::after {
    left: -14px;
  }



@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline-4::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-4 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-4::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-4::after,
  .right-4::after {
    left: 18px;
  }

  .left-4::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right-4 {
    left: 0%;
  }
}